<%= form_for @review do |f| %>

  <% if @review.errors.any? %>
    <div class="errors">
      <% @review.errors.full_messages.each do |message|%>
        <p> <%= message %> </p>
      <%end%>
    </div>

  <%end%>
  <p>
    <%= f.label :Restaurant %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :City%>
    <%= f.text_area :body%>
  </p>

  <p>
    <%= f.label :Rating %>
    <%= f.number_field :score %>
  </p>

  <%= f.submit "Sumbit Review"%>







<% end %>
